@charset "utf-8";

/* CSS Document */
body {
	margin: 0px;
	padding: 0;
	/*background: #383738;*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
}

img {
	border: 0px;
}

ul,li,ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

blockquote {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

a:focus {
	outline: 0px;
}

#wraper {
	float: left;
	margin: 0px;
	width: 100%;
}

#headerblank {
	float: left;
	width: 100%;
	margin: 0px;
	/*padding:0 0 32px 0;*/
	/*background:url(../images/header.png) repeat-x left top;*/
	background-color: #000000;
	padding-top: 20px;
	/*border-bottom: 1px solid #464746;*/
}

#header {
	float: none;
	width: 952px;
	margin: 0px auto;
}

#header h1 {
	float: left;
	width: 324px;
	/*margin:18px 0 0 0;*/
	margin: 0px;
	padding: 0px;
}

#header h3 {
	float: left;
	width: 628px;
	margin: 32px 0 0 0;
	text-align: right;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 13px;
	font-weight: bold;
	color: #fff;
	padding: 0px;
}

#search {
	float: right;
	padding-top: 15px;
}

.panel {
	margin-bottom: 35px;
}

.main-count {
	/*float: right;*/ 
	color: #999;
}

#search .button {
	background: url(../images/Search-icon.png) no-repeat;
	cursor: pointer;
	border: none;
	width: 23px;
	height: 23px;
}

#navi {
}

#navi a {
	border-bottom: 1px solid #CEDBF1;
	color: #5F88CE;
}

#navi a:hover {
	border-bottom: 1px solid #000;
	color: #000;
}

#topnavi {
	float: right;
}

#topnavi .inactive {
	font-size: 12px;
	border-bottom: 1px solid #999;
	color: #999;
}
#topnavi a {
	font-size: 12px;
	border-bottom: 1px solid #CEDBF1;
	color: #5F88CE;
}

#topnavi a:hover {
	border-bottom: 1px solid #000;
	color: #000;
}

#login {
}

#login .button {
	background: url(../images/ok.png) no-repeat;
	cursor: pointer;
	border: none;
	width: 23px;
	height: 23px;
}

#login a, #new a {
	color: #2854BB;
	text-decoration: none;
	border-bottom: 1px solid #419bcb;
	font-weight: bold;
	font-size: 15px;
}

#login a:hover, #new a:hover {
	color: #000;
	border-bottom: 1px solid #000;
}

#menu-full {
	background-color: #555;
	float: left;
	width: 100%;
	margin: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top: 1px solid #8d8d8d;	
}

#menu {
	float: none;
	margin: 0px auto;
	width: 952px;
}

#menu .menu-item {
	border-right: 1px solid #999;
	padding-left: 5px;
	padding-right: 5px;
	width: 100px;
	float: left;
	height: 20px;
	/*text-align: center;*/
}
#menu .first-item {
	border-left: 1px solid #999;
}
#menu .menu-item a {
	color: #fff;
	text-decoration: none;
}
#menu .menu-item a:hover {
	text-decoration: underline;
}

#searches {
	margin: 5px;
	margin-bottom: 20px;
}

div.search-item {
	float: left;
	padding: 3px;
}

div.search-item a {
	border-bottom: 1px solid #AEC3E7;
	color: #2854BB;
	font-size: 12px;
	word-wrap: break-word;
	border-bottom: 1px solid #CEDBF1;
	color: #5F88CE;	
}
div.search-item a:hover {
	color: #000000;
	border-bottom: 1px solid #000000;
}

#searches .search-counter {
	color: #999;
}

.errors {
	color: red;
}
	
#bodycontentblank {
	float: left;
	/*background: #efe5d7;*/
	width: 100%;
	margin: 0px;
	padding: 0px 0 29px 0;
}

#bodycontent {
	float: none;
	margin: 0px auto;
	width: 952px;
}

#bodyleftcontent {
	float: left;
	margin: 20px 30px 0 0;
	padding: 0px;
	width: 647px;
}

/* ---- bodyRightContent ---- */
#bodyRight {
	width: 275px;
	float: left;
	margin: 20px 0 0 0;
}

#footer-wrap {
	width: 100%;
	height: 235px;
	float: left;
	background: url(../images/footer_bg.gif) repeat-x;
}

#footer-wrap div.footer {
	float: none;
	margin: 0px auto;
	padding: 17px 0 0 0;
	width: 952px;
}

div.footer h4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #fff;
	background: #212222;
	margin: 0;
	padding: 8px 0 8px 6px;
}

/* -- style for inner div's starting from pages -- */
div.footer div.pages {
	width: 147px;
	float: left;
	padding: 0;
	margin: 0 29px 0 0;
}

div.pages ul {
	width: 147px;
	float: left;
	padding: 6px 0 0 0;
	margin: 0;
}

div.pages ul li {
	width: 107px;
	float: none;
	background: url(../images/small_arrow_foot.gif) 0 7px no-repeat;
	margin-left: 6px;
	padding: 2px 0 2px 2px;
	border-bottom: 1px solid #3b3b3b;
}

div.pages ul li a {
	padding: 2px 0 2px 5px;
	color: #909090;
}

/* -- stylin social bookmarking div -- */
div.copyright {
	width: 339px;
	float: left;
}

div.copyright p {
	color: #909090;
	font-size: 11px;
	padding-left: 8px;
}

div.copyright div.bookmarkIcons {
	width: 239px;
	float: left;
	padding: 4px 0;
}

div.copyright div.bookmarkIcons img {
	float: left;
	margin-left: 9px;
}

div.copyright p.rights {
	/*width: 163px;*/
	float: left;
	font-size: 10px;
}

div.copyright p.rights a {
	color: #fff;
}

/* #######################################
######### Stylin inner pages #############
######################################## */
#leftPan {
	float: left;
	margin: 0px;
	padding: 0 0 27px 0;
	width: 647px;
}

#leftPan h2 {
	float: left;
	margin: 0px;
	padding: 0px;
	width: 647px;
	font-family: Arial;
	font-size: 27px;
	font-weight: bold;
	color: #000000;
}

#leftPan p {
	float: left;
	margin: 5px 0 0 0;
	padding: 0px 0 16px 0;
	width: 647px;
	font-family: Arial;
	font-size: 13px;
	font-weight: normal;
	color: #000000;
	line-height: 21px;
}

#leftPan p a {
	color: #419bcb;
	/*text-decoration: underline;*/
	font-size: 11px;
}

#leftPan p a:hover {
	color: #419bcb;
	text-decoration: none;
	font-size: 11px;
}

/* --- stylin blog page --- */
#leftPan ul.blog {
	width: 647px;
	float: left;
}

#leftPan ul.blog li {
	display: block;
	width: 647px;
	float: left;
	border-bottom: 1px dashed #c9c0b4;
}

#leftPan ul.blog li h3 {
	font-size: 22px;
	font-weight: normal;
	padding: 10px 0 0 0;
	margin: 0;
}

#leftPan ul.blog li p.date {
	padding-bottom: 2px;
	margin: 0;
}

#leftPan ul.blog li p.post {
	margin: 0;
	padding: 0 0 6px 0;
}

/* --- stylin portfolio page --- */
#leftPan ul.portfolio {
	width: 647px;
	float: left;
}

#leftPan ul.portfolio li {
	display: block;
	width: 647px;
	float: left;
	border-bottom: 1px dashed #c9c0b4;
}

#leftPan ul.portfolio li img {
	float: left;
	margin: 9px 12px 0 0;
}

#leftPan ul.portfolio li h3 {
	font-size: 22px;
	font-weight: normal;
	padding: 10px 0 0 0;
	margin: 0;
}

#leftPan ul.portfolio li p.date {
	padding-bottom: 2px;
	margin: 0;
}

#leftPan ul.portfolio li p.post {
	width: 400px;
	margin: 0;
	padding: 0 0 6px 0;
	text-align: justify;
}

/* contact us page */
#leftPan img.map {
	float: left;
	margin: 10px 0 0 0px;
}

#bodyRight p.address {
	width: 250px;
	float: left;
	padding: 0;
	padding-left: 20px;
	margin: 12px 0 12px 0;
}

#bodyRight h5 {
	width: 250px;
	float: left;
	font-size: 13px;
	padding: 9px 0 0 20px;
}

/* -- stylin services page -- */
#leftPan img.service {
	float: left;
	margin: 10px 0 0 10px;
}

/* --- stylin usefullinks page --- */
#leftPan ul.usefullinks {
	width: 647px;
	float: left;
}

#leftPan ul.usefullinks li {
	display: block;
	width: 647px;
	float: left;
	border-bottom: 1px dashed #c9c0b4;
	padding-bottom: 5px;
}

#leftPan ul.usefullinks li h3 {
	font-size: 22px;
	font-weight: normal;
	padding: 10px 0 0 0;
	margin: 0;
}

#leftPan ul.usefullinks li p.post {
	margin: 0;
	padding: 0 0 6px 0;
}

#leftPan ul.usefullinks li a.link {
	font-size: 14px;
}

#leftPan ul.usefullinks li span.date {
	padding-right: 5px;
}

/*s tylin site map  */
#leftPan ul.sitemap {
	width: 150px;
	float: left;
	padding: 10px 0 0 0px;
}

#leftPan ul.sitemap li {
	display: block;
	padding-left: 8px;
	padding-bottom: 2px;
	margin-left: 5px;
	background: url(../images/small_arrow.gif) no-repeat left;
}

#leftPan ul.sitemap li a {
	font-size: 12px;
	color: #0075ab;
	text-decoration: none;
	padding-left: 8px;
}

/* moje */
.fleft {
	float: left;
}

.fright {
	float: right;
}

.mr {
	margin-right: 5px;
}

.block-header {
	border-bottom: 1px solid #80A1C1;
	margin-bottom: 0;
	padding-bottom: 7px;
	position: relative;
	color: #383529;
	font-size: 18px;
}

.link-item-details {
	margin-bottom: 7px;
}

/*
.link-item-title {
	color: #AEC3E7;
	float: left;
	font-size: 1.3em;
	line-height: 1.1em;
	margin-bottom: 4px;
}
*/
.link-item-title {
	
}

.link-item-title a {
	border-bottom: 1px solid #AEC3E7;
	color: #2854BB;
	font-weight: bold;
	font-size: 15px;
	word-wrap: break-word;
}

.link-item-title a:hover {
	color: #000000;
	border-bottom: 1px solid #000000;
}

.link-item-source {
	border-bottom: 1px solid #CEDBF1;
	color: #5F88CE;
}

.link-item-teaser {
	color: #666;
}

.link-item-teaser .timestamp {
	font-size: 1em;
	padding-left: 5px;
}

.link-item .clicks {
	float: left;
	width: 40px;
	height: 19px;
	font-size: 18px;
	font-weight: bold;
	color: #999;
	text-align: center;
	padding-top: 5px;
}

.link-item .link-data {
	float: left;
	width: 600px;
}

.link-item .timestamp {
	color: #999;
}

.link-item {
	padding: 10px 0px;
	/*border-bottom: 1px solid #CCDCEF;*/
	border-bottom: dotted 1px #DDD;
}

.group {
	min-height: 1%;
}

.group {
	display: block;
}

.link-item-gutters {
	padding: 0px 60px 0px 68px;
}

.group {
	min-height: 1%;
}

.group {
	display: block;
}

.link-item-diggbtn {
	float: left;
	margin-left: -64px;
	width: 54px;
}

.link-item-content {
	float: left;
	width: 100%;
}